<?xml version="1.0" encoding="UTF-8" standalone="no" ?>


{% block head %}
	{%- include 'z_bloc.twig' with {'z_bloc' : 'head'} %}
{% endblock %}

{% block environnement %}
	{%- include 'z_bloc.twig' with {'z_bloc' : 'environnement'} %}
{% endblock %}
{% block definitions %}
	{%- include 'z_bloc.twig' with {'z_bloc' : 'definitions'} %}
{% endblock %}

{% block calques %}
	{%- include 'z_bloc.twig' with {'z_bloc' : 'calques'} %}
{% endblock %}

{% block footer %}
	{%- include 'z_bloc.twig' with {'z_bloc' : 'footer'} %}
{% endblock %}
