{#
    Reçoit z_page (sommaire) et z_bloc (body)
    Éventuellement z_element (truc)
    Inclut si existe
    - body/sommaire.twig,
    - body-sommaire.twig,
    - body/dist.twig,
    - body.twig

    Avec éléments :
    - body/sommaire-truc.twig,
    - body-sommaire-truc.twig,
    - body/dist-truc.twig,
    - body-truc.twig
#}
{% if z_element %}

{% include [
    z_bloc ~ '/' ~ z_page ~ '-' ~ z_element ~ '.twig',
    z_bloc ~ '-' ~ z_page ~ '-' ~ z_element ~ '.twig',
    z_bloc ~ '/dist' ~ '-' ~ z_element ~ '.twig',
    z_bloc ~ '-' ~ z_element ~ '.twig'
] %}

{% else %}

{% include [
    z_bloc ~ '/' ~ z_page ~ '.twig',
    z_bloc ~ '-' ~ z_page ~ '.twig',
    z_bloc ~ '/dist.twig',
    z_bloc ~ '.twig'
] %}

{% endif %}
