  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.5"
     inkscape:cx="650"
     inkscape:cy="500"
     inkscape:document-units="mm"
     inkscape:current-layer="g6464"
     showgrid="false"
     units="mm"
     showguides="false"
     inkscape:guide-bbox="true"
     inkscape:window-width="1280"
     inkscape:window-height="776"
     inkscape:window-x="0"
     inkscape:window-y="24"
     inkscape:window-maximized="1"
     inkscape:snap-bbox="true">

    {% block grid %}
      <inkscape:grid
       originy="{{ doc.marge.Y }}mm"
       originx="{{ doc.marge.X }}mm"
       dotted="false"
       spacingy="{{ doc.grille.Y }}mm"
       spacingx="{{ doc.grille.X }}mm"
       units="mm"
       snapvisiblegridlinesonly="true"
       enabled="true"
       visible="true"
       empspacing="5"
       id="grille"
       type="xygrid" />
    {% endblock %}
    
    {% block guides %}
        {%- include 'z_bloc.twig' with {'z_element' : 'guides'} %}
    {% endblock %}
    </sodipodi:namedview>
