{% block guides_document %}
      {# Contour du document #}
      {# gauche #}
      <sodipodi:guide id="guide_doc_gauche"
       orientation="1,0" position="0,0" />
      {# droit #}
      <sodipodi:guide id="guide_doc_droit"
       orientation="1,0" position="{{ doc.taille.X|pixels }},0" />
      {# bas #}
      <sodipodi:guide id="guide_doc_bas"
       orientation="0,1" position="0,0" />
      {# haut #}
      <sodipodi:guide id="guide_doc_haut"
       orientation="0,1" position="0,{{ doc.taille.Y|pixels }}" />
{% endblock %}
{% block guides_marges %}
      {# Marges du document #}
      {# gauche #}
      <sodipodi:guide id="guide_marge_gauche"
       orientation="1,0" position="{{ doc.marge.X|pixels }},0" />
      {# droit #}
      <sodipodi:guide id="guide_marge_droit"
       orientation="1,0" position="{{ (doc.taille.X - doc.marge.X)|pixels }},0" />
      {# bas #}
      <sodipodi:guide id="guide_marge_bas"
       orientation="0,1" position="0,{{ doc.marge.Y|pixels }}" />
      {# haut #}
      <sodipodi:guide id="guide_marge_haut"
       orientation="0,1" position="0,{{ (doc.taille.Y - doc.marge.Y)|pixels }}" />
{% endblock %}
