{% embed "calques/dist-cartes.twig" %}
    {% block cartes %}


{% set numero_carte = (planche - 1) * doc.total %}

{% for x in 0..(doc.nombre.X-1) %}
    {% set ix = loop.index %}
{% for y in 0..(doc.nombre.Y-1) %}
    {% set iy = loop.index %}
    {% set id = "X#{ix}Y#{iy}" %}
    {% set offsetx = (x * doc.grille.X + doc.marge.X) %}
    {% set offsety = (y * doc.grille.Y + doc.marge.Y) %}

    {% set carte = def.jeu[numero_carte] %}
    {% if carte %}
    <g id="carte{{ id }}" class='carte'
       transform="translate({{ offsetx|pixels }},{{ offsety|pixels }})">
       
        <g id="fondCarte{{ id }}" class='fondCarte'>

            {# le dégradé de fond de carte #}
            <use id="rectClipCarte{{ id }}"
                xlink:href="#rectFondCarte{{ carte.type|title }}" />

            {# la gestion d'une bordure parfaite #}
            <use id="rectClipCarteFixe{{ id }}"
                xlink:href="#rectFondCarteBordure"
                clip-path="url(#clipCarteBordure)" />

            {# logo de la carte #}
            <use id="logoCarte{{ id }}"
                xlink:href="#logo{{ carte.type|title }}"
                x="0" y="0" />
        </g>

        <g id="contenuCarte{{ id }}" class='contenuCarte'>
            {% for texte in carte.textes %}
                {% set posY = doc.grille.Y - 23 - (loop.revindex0 * 12) %}

                {# deco du titre de la carte #}
                <use id="decoTitre{{ id }}"
                    xlink:href="#decoTitre"
                    x="{{ def.cartes.bordure.taille + 3.5 }}mm" y="{{ posY }}mm" />

                {% set len = texte.titre|length %}
                {% set classe = 'normal' %}
                {% set h = 2.1 %}
                {% for l in 0..10 %}
                    {% set ll = 11 + 2 * l %}
                    {% if len > ll %}
                        {% set classe='sup_' ~ ll %}
                        {% set h = 2.1 + (2 * l / 10) %}
                    {% endif %}
                {% endfor %}
                    
                <text class="titre middle {{ classe }}" x="{{ doc.grille.X / 2}}mm" y="{{ posY + 9 - h }}mm">
                    {% for partie in texte.decoupe|decouper %}
                        {% if partie|trim %}
                        <tspan class='dec_{{ partie|trim }}'>
                            {{- partie -}}
                        </tspan>
                        {% else %}
                        <tspan class='space'> </tspan>{# attention -- espace insécable dans le tspan #}
                        {% endif %}
                    {% endfor %}
                </text>

            {% endfor %}

            {% if carte.image.auteur %}
                <text class="auteur right" x="0" y="0"
                    transform="
                        translate({{ (doc.grille.X - def.cartes.bordure.taille - 0.5)|pixels}},{{ (def.cartes.bordure.taille + 4)|pixels}})
                        rotate(-90)
                        "
                    >Foto : {{ carte.image.auteur }}</text>
            {% endif %}

            {% if carte.image.chemin %}
                {% set ecart = def.cartes.bordure.taille + 2.5 %}
                {% set chemin = def.getDir ~ '/' ~ carte.image.chemin %}
                {% set maxX = (doc.grille.X - 2 * ecart)|pixels %}
                {% set maxY = ((doc.grille.Y / 2) - 2 * ecart)|pixels %}
                {% set image  = chemin|imaginer( maxX, maxY ) %}
                {% if image %}
                    {% if image.ext != 'svg' %}
                    <image id="image{{ id }}"
                        y="{{ (maxY - image.newY) / 2 + (ecart|pixels) }}"
                        x="{{ (maxX - image.newX) / 2 + (ecart|pixels) }}"
                        height="{{ image.newY }}"
                        width="{{ image.newX }}"
                        xlink:href='data:{{ image.mime }};{{ image.contenu }}' {# Simple quote ! #}
                    />
                    {% else %}
                        <g id="image{{ id }}"
                        transform="
                            translate({{ (maxX - image.newX) / 2 + (ecart|pixels) }},{{ (maxY - image.newY) / 2 + (ecart|pixels) }})
                            scale({{ image.newX / image.X }},{{ image.newY / image.Y }})
                            ">
                            {{ image.contenu|raw }}
                        </g>
                    {% endif %}
                {% endif %}
            {% endif %}
        </g>

    </g>
    {% endif %}
    {% set numero_carte = numero_carte + 1 %}
{% endfor %}
{% endfor %}


    {% endblock %}
{% endembed %}
