{% embed "calques/dist-cartes.twig" %}
    {% block cartes %}


{% set numero_carte = (planche - 1) * doc.total %}

{% for x in 0..(doc.nombre.X-1) %}
    {% set ix = loop.index %}
{% for y in 0..(doc.nombre.Y-1) %}
    {% set iy = loop.index %}
    {% set id = "X#{ix}Y#{iy}" %}
    {% set offsetx = (x * doc.grille.X + doc.grille.X / 2) %}
    {% set offsety = (y * doc.grille.Y + doc.grille.Y / 2) %}

    {# logo de la carte #}
    <use id="logoFondCarte{{ id }}"
        xlink:href="#decoFondCarte"
        x="{{ offsetx|pixels }}" y="{{ offsety|pixels }}" />
{% endfor %}
{% endfor %}


    {% endblock %}
{% endembed %}
