
{% block calque_fond %}
	{%- include 'z_bloc.twig' with {'z_element' : 'fond'} %}
{% endblock %}

{% block calque_coupes %}
	{%- include 'z_bloc.twig' with {'z_element' : 'coupes'} %}
{% endblock %}

{% block calque_cartes %}
	{%- include 'z_bloc.twig' with {'z_element' : 'cartes'} %}
{% endblock %}
