  <g
     id="calque_coupes"
     transform="translate(0,0)"
     inkscape:groupmode="layer"
     inkscape:label="Coupes">

      <g
       id="groupe_coupes"
       transform="translate(0,0)">
      {% block coupes %}
        {% block coupes_contour %}
            {% for x in 0..doc.nombre.X %}
                {% set offsetx = (x * doc.grille.X + doc.marge.X)|pixels %}
                <use xlink:href="#trait_coupe_vertical"
                x='{{ offsetx }}' y='0' />

                <use xlink:href="#trait_coupe_vertical"
                 x='{{ offsetx }}' y='{{ (doc.taille.Y - doc.marge.Y + 2)|pixels }}'/>

            {% endfor %}
            {% for y in 0..doc.nombre.Y %}
                {% set offsety = (y * doc.grille.Y + doc.marge.Y)|pixels %}
                <use xlink:href="#trait_coupe_horizontal"
                x='0' y='{{ offsety }}' />

                <use xlink:href="#trait_coupe_horizontal"
                x='{{ (doc.taille.X - doc.marge.X + 2)|pixels }}' y='{{ offsety }}' />

            {% endfor %}
        {% endblock %}
    
        {% block coupes_croix %}
            {% for x in 1..(doc.nombre.X-1) %}
            {% for y in 1..(doc.nombre.Y-1) %}
                {% set offsetx = (x * doc.grille.X + doc.marge.X)|pixels %}
                {% set offsety = (y * doc.grille.Y + doc.marge.Y)|pixels %}
                <use xlink:href="#trait_coupe_croix"
                x='{{ offsetx }}' y='{{ offsety }}' />
            {% endfor %}
            {% endfor %}
        {% endblock %}
      {% endblock %}
      </g>
  </g>
