  <g
     style="display:inline"
     transform="translate(0,0)"
     id="calque_cartes"
     inkscape:groupmode="layer"
     inkscape:label="Cartes">

    {% block cartes %}

    {% endblock %}
   </g>
