    {# Définition d'un fond de carte #}
    <rect id="rectFondCarte" class="rectFondCarteVide"
       ry="{{ def.cartes.rayon }}mm"
       rx="{{ def.cartes.rayon }}mm"
       y="0" x="0"
       height="{{ doc.grille.Y }}mm"
       width="{{ doc.grille.X }}mm" />

    {# Définition des fonds de carte
        Il y a un bug avec l'export pdf des liens de dégradés
        On n'utilise pas <use /> ici :(
    #}
    {% for nom,couleur in def.couleurs %}
    {# <use xlink:href="#rectFondCarte" id="rectFondCarte{{ nom|title }}" class="fondCarte {{ nom }}" /> #}
    <rect id="rectFondCarte{{ nom|title }}" class="rectFondCarteVide rectFondCarte {{ nom }}"
       ry="{{ def.cartes.rayon }}mm"
       rx="{{ def.cartes.rayon }}mm"
       y="0" x="0"
       height="{{ doc.grille.Y }}mm"
       width="{{ doc.grille.X }}mm" />
    {% endfor %}

    {# Définition d'une bordure de carte arrondie #}
    <use xlink:href="#rectFondCarte" id="rectFondCarteVide" />
    <use xlink:href="#rectFondCarte" id="rectFondCarteBordure" class="rectFondCarteVide rectFondCarteBordure"/>
    <use xlink:href="#rectFondCarte" id="rectClipCarteBordure" class="rectClipCarteBordure" />

    <clipPath
       id="clipCarteBordure">
      <use xlink:href="#rectClipCarteBordure"
        id="rectClipCarteBordure"
        x="0" y="0" />
    </clipPath>

