{% extends "definitions/dist-chemins.twig" %}


{% block formes %}
    {{ parent() }}

    {# Formes libres des éléments #}

    {# Lieu #}
    <path id="logoLieu"
        sodipodi:type="star"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;display:inline"
        sodipodi:sides="4"
        sodipodi:cx="0"
        sodipodi:cy="0"
        sodipodi:r1="13.860664"
        sodipodi:r2="45.628639"
        sodipodi:arg1="1.3862566"
        sodipodi:arg2="0.75895095"
        inkscape:flatsided="false"
        inkscape:rounded="1.16"
        inkscape:randomized="0"
        d="m 102.24541,312.21169 c 1.09015,40.99808 64.38169,40.97624 30.56289,17.77451 -52.535558,-36.04255 16.9566,-30.54997 -46.731565,-28.85649 -40.998088,1.09016 -40.976247,64.38169 -17.774513,30.56289 36.042558,-52.53555 30.549973,16.95661 28.856485,-46.73156 -1.090152,-40.99808 -64.381689,-40.97624 -30.562889,-17.77451 52.535552,36.04255 -16.956604,30.54997 46.731562,28.85648 40.99809,-1.09015 40.97625,-64.38168 17.77451,-30.56288 -36.042552,52.53555 -30.54997,-16.95661 -28.85648,46.73156 z"
        inkscape:transform-center-x="-0.50020322"
        inkscape:transform-center-y="0.033258098"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.26,0.26)" />

    {# Objet #}
    <path id="logoObjet"
        sodipodi:type="star"
        d="m -490.55118,721.65351 c -13.38378,17.84504 4.19925,-10.22423 -17.88285,-7.06965 -22.0821,3.15459 2.65701,25.17784 -15.18802,11.79406 -17.84503,-13.38377 10.22424,4.19926 7.06965,-17.88284 -3.15458,-22.0821 -25.17783,2.65701 -11.79406,-15.18802 13.38377,-17.84503 -4.19926,10.22423 17.88284,7.06965 22.0821,-3.15459 -2.657,-25.17784 15.18803,-11.79406 17.84503,13.38377 -10.22424,-4.19926 -7.06966,17.88284 3.15459,22.0821 25.17784,-2.65701 11.79407,15.18802 z"
        inkscape:randomized="0"
        inkscape:rounded="1.16"
        inkscape:flatsided="false"
        sodipodi:arg2="1.4288993"
        sodipodi:arg1="0.64350111"
        sodipodi:r2="7.1756964"
        sodipodi:r1="23.622047"
        sodipodi:cy="0"
        sodipodi:cx="0"
        sodipodi:sides="4"
        style="fill:none;stroke:#ffffff;stroke-width:4.92841005;
            stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;
            stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;display:inline"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.49,0.49)" />

    {# Anatomie #}
    <path id="logoAnatomie"
        inkscape:transform-center-y="0.046190554"
        inkscape:transform-center-x="-0.69463213"
        d="m 73.609819,287.00355 c -41.348729,31.56904 89.036571,-20.81707 37.305981,-15.3154 -19.980303,2.12495 14.43775,30.02047 11.86339,10.09308 -6.66523,-51.59357 -26.490179,87.51647 -5.38947,39.96563 8.1499,-18.36592 -33.21736,-2.50677 -14.67256,5.22745 48.01396,20.02453 -62.54639,-66.6994 -31.916515,-24.65022 11.830412,16.24097 18.779612,-27.5137 2.809174,-15.32054 z"
        inkscape:randomized="0"
        inkscape:rounded="-1.29"
        inkscape:flatsided="false"
        sodipodi:arg2="-1.1758103"
        sodipodi:arg1="-2.7238079"
        sodipodi:r2="29.142103"
        sodipodi:r1="28.547619"
        sodipodi:cy="0"
        sodipodi:cx="0"
        sodipodi:sides="3"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;display:inline"
        sodipodi:type="star"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.39,0.39)" />

    {# Math #}
    <path id="logoMath"
        inkscape:transform-center-y="0.0282844"
        inkscape:transform-center-x="-0.4253288"
        d="m 99.628121,297.96491 c 29.351919,43.33291 -6.070503,-22.62627 44.316849,-8.4703 49.90934,14.02169 -34.06349,-42.30833 -43.85576,8.60004 -9.886047,51.39594 11.7067,-20.29168 37.32615,25.34734 25.37641,45.20606 5.82998,-54.00304 -37.09184,-24.92956 -43.332915,29.35192 22.62626,-6.0705 8.47029,44.31685 -14.021684,49.90934 42.30833,-34.06349 -8.60003,-43.85576 -51.395944,-9.88605 20.29168,11.7067 -25.347346,37.32615 -45.206063,25.37641 54.003036,5.82998 24.929559,-37.09185 -29.351924,-43.33291 6.070507,22.62627 -44.316847,8.4703 -49.9093447,-14.02169 34.063488,42.30833 43.855754,-8.60004 9.88605,-51.39594 -11.706694,20.29168 -37.326144,-25.34734 -25.37641,-45.20606 -5.829987,54.00303 37.091842,24.92956 43.332912,-29.35192 -22.626267,6.0705 -8.470293,-44.31685 14.021685,-49.90934 -42.308333,34.06349 8.600034,43.85576 51.395941,9.88605 -20.291681,-11.7067 25.347341,-37.32615 45.20606,-25.37641 -54.003033,-5.82998 -24.929559,37.09185 z"
        inkscape:randomized="0"
        inkscape:rounded="1.16"
        inkscape:flatsided="false"
        sodipodi:arg2="-0.20267477"
        sodipodi:arg1="-1.6892111"
        sodipodi:r2="45.167412"
        sodipodi:r1="0.62584156"
        sodipodi:cy="0"
        sodipodi:cx="0"
        sodipodi:sides="8"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;display:inline"
        sodipodi:type="star"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.23,0.23)" />

    {# Action #}
    <path id="logoAction"
        sodipodi:type="star"
        style="fill:none;stroke:#ffffff;stroke-width:9.90243626;
            stroke-linecap:round;stroke-linejoin:round;
            stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;
            stroke-dashoffset:0;display:inline"
        sodipodi:sides="5"
        sodipodi:cx="0"
        sodipodi:cy="0"
        sodipodi:r1="20.787998"
        sodipodi:r2="6.3147941"
        sodipodi:arg1="0.91971961"
        sodipodi:arg2="1.5480381"
        inkscape:flatsided="true"
        inkscape:rounded="3.52"
        inkscape:randomized="0"
        d="m -492.12597,894.09445 c -68.42376,52.13239 46.29352,49.52118 -24.43143,0.55612 -70.72495,-48.96507 -32.79195,59.33064 -8.07862,-23.06383 24.71334,-82.39446 -66.56006,-12.85282 19.43857,-14.81033 85.99863,-1.95751 -8.34443,-67.27413 20.09231,13.91053 28.43675,81.18465 61.40293,-28.72487 -7.02083,23.40751 z"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.24,0.24)" />

    {# Adjectif #}
    <path id="logoAdjectif"
        d="m -497.75864,549.03577 c 1.29904,1.42275 -1.27694,2.45301 -2.36471,2.15908 -2.94778,-0.79653 -3.25311,-4.63252 -1.95346,-6.88851 2.32478,-4.03544 7.89593,-4.26733 11.41232,-1.74783 5.16043,3.69748 5.31396,11.20445 1.54219,15.93611 -5.02717,6.30657 -14.52909,6.37455 -20.45991,1.33657 -7.46332,-6.33978 -7.44236,-17.86146 -1.13093,-24.98371 7.64398,-8.626 21.19817,-8.51439 29.5075,-0.92531 9.79226,8.94348 9.58905,24.5376 0.71968,34.03131 -10.24004,10.96086 -27.87883,10.66547 -38.5551,0.51405 -12.13106,-11.53469 -11.74313,-31.22134 -0.30842,-43.0789 8.86893,-9.19691 22.6546,-12.22809 34.67316,-8.08882"
        sodipodi:t0="0"
        sodipodi:argument="-18.018734"
        sodipodi:radius="34.326637"
        sodipodi:revolution="2.6800001"
        sodipodi:expansion="1"
        sodipodi:cy="0"
        sodipodi:cx="0"
        style="fill:none;stroke:#ffffff;stroke-width:6.67740297;
            stroke-linecap:butt;stroke-linejoin:miter;
            stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline"
        sodipodi:type="spiral"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.38,0.38)" />

    {# Nature #}
    <path id="logoNature"
        sodipodi:type="star"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;display:inline"
        sodipodi:sides="6"
        sodipodi:cx="0"
        sodipodi:cy="0"
        sodipodi:r1="0.38179722"
        sodipodi:r2="38.179722"
        sodipodi:arg1="1.2355613"
        sodipodi:arg2="1.7818969"
        inkscape:flatsided="false"
        inkscape:rounded="-1.29"
        inkscape:randomized="0"
        d="m 99.827665,298.94691 c 46.466695,-15.01266 -56.093669,27.82821 -8.125641,36.97162 47.956936,9.14129 -28.47571,-69.77055 7.750597,-37.04311 36.234689,32.73501 -52.146777,-34.66444 -36.081185,11.4488 16.061876,46.10256 46.185214,-59.54597 35.955577,-11.80935 -10.232009,47.74767 3.946897,-62.49265 -27.955544,-25.52282 -31.895058,36.96128 74.660931,10.22459 28.20498,25.23377 -46.466697,15.01265 56.093671,-27.82821 8.125641,-36.97162 -47.956934,-9.14129 28.47571,69.77055 -7.750597,37.04311 -36.234688,-32.73501 52.146777,34.66444 36.081187,-11.4488 -16.06188,-46.10257 -46.185221,59.54597 -35.95558,11.80935 10.23201,-47.74767 -3.946892,62.49265 27.95554,25.52282 C 159.9277,287.2194 53.371716,313.95609 99.827665,298.94691 z"
        inkscape:transform-center-x="-0.50020322"
        inkscape:transform-center-y="0.033258098"
        transform="
            translate({{ (doc.grille.X / 2)|pixels }},{{ (doc.grille.Y - 8)|pixels }})
            scale(0.31,0.31)" />
{% endblock %}
