{% extends "definitions/dist-chemins.twig" %}


{% block formes %}
    {# Forme du fond de carte #}
    <path id="decoFondCarte"
       d="M 90.632179,73.275126 C 49.014144,57.914989 31.106583,70.518388 -4.6633846,96.757749 -24.75943,111.49937 49.146203,127.85026 50.128072,102.94639 51.87575,58.618745 34.355465,45.482307 -1.6531785,19.571455 -21.883315,5.0143921 -14.595832,80.355527 9.3925636,73.593622 52.090723,61.557766 59.170153,40.835603 72.685555,-1.4175459 80.278688,-25.155929 10.876967,5.0565698 24.720742,25.781347 49.361978,62.670426 71.257591,62.999863 115.61921,62.796833 140.54216,62.682768 90.362058,6.0139843 74.929586,25.584505 47.460548,60.419066 53.913351,81.344833 67.814939,123.4725 75.625036,147.14039 114.01375,81.904656 90.632179,73.275126 z"
       inkscape:randomized="0"
       inkscape:rounded="0.452"
       inkscape:flatsided="false"
       sodipodi:arg2="2.5522536"
       sodipodi:arg1="0.31023883"
       sodipodi:r2="65.71"
       sodipodi:r1="42.71"
       sodipodi:cy="57"
       sodipodi:cx="50"
       sodipodi:sides="5"
       style="fill:#44aa00;fill-opacity:1;stroke:none"
       sodipodi:type="star" />
{% endblock %}
