  <defs
     id="defs_cartes">
    {% block styles %}
    <style type='text/css'>
    <![CDATA[
        {%- include 'z_bloc.twig' with {'z_element' : 'styles'} %}
    ]]>
    </style>
    {% endblock %}
    {% block degrades %}
        {%- include 'z_bloc.twig' with {'z_element' : 'degrades'} %}
    {% endblock %}
    {% block chemins %}
        {%- include 'z_bloc.twig' with {'z_element' : 'chemins'} %}
    {% endblock %}
    {% block clip %}
        {%- include 'z_bloc.twig' with {'z_element' : 'clip'} %}
    {% endblock %}
  </defs>
