
g { display:inline; }

.trait_coupe {
	fill:none;
	stroke:#000000;
	stroke-width:1;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-miterlimit:4;
	stroke-opacity:1;
	stroke-dasharray:none
}

/* gradients */
{% for nom,couleur in def.couleurs %}
#rectFondCarte{{ nom|title }} { fill:url(#degradeVertical{{ nom|title }}); }
{% endfor %}
#rectFondCarteVide { fill:none; }


/*.rectFondCarteBordure,*/
/*.rectangle {*/
.rectFondCarteVide {
	fill-opacity:1;
	marker:none;
	visibility:visible;
	display:inline;
	overflow:visible;
	enable-background:accumulate;
	stroke-width:{{ def.cartes.bordure.taille * 2 }}mm;
}

.rectFondCarte {
	color:{{ def.cartes.bordure.couleur }};
	/*fill:url(#degradeVerticalNeutre);*/
}

.rectFondCarteBordure {
	color:{{ def.cartes.bordure.couleur }};
	stroke:{{ def.cartes.bordure.couleur }};
	fill:none;
}

.rectClipCarteBordure {
	stroke:none;
	fill:#ffffff;
}

/* couleurs des découpages des textes */
{% for nom,couleur in def.decoupes %}
.dec_{{ nom }} { fill:{{ couleur }}; }
{% endfor %}

/* textes */
.middle {text-anchor:middle;}
.right  {text-anchor:end;}
.left   {text-anchor:start;}

text {
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-stretch:normal;
	text-align:center;
	line-height:125%;
	letter-spacing:0px;
	word-spacing:0px;
	text-anchor:middle;
	fill:#000000;
	fill-opacity:1;
	stroke:none;
	font-family:Ubuntu;
	-inkscape-font-specification:Ubuntu
}

.titre  { font-size:24px; }
.sup_11 { font-size:22px; }
.sup_13 { font-size:20px; }
.sup_15 { font-size:18px; }
.sup_17 { font-size:16px; }
.sup_19 { font-size:15px; }
.sup_21 { font-size:14px; }

.auteur { font-size:7px; fill:#828282; }
