{% block fondTitre %}
    {# Fond de titre de texte #}
    <rect id="decoTitre"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;display:inline"
        width="{{ doc.grille.X - 2 * (def.cartes.bordure.taille + 3.5) }}mm"
        height="9mm"
        x="0" y="0"
        rx="9"
        ry="16" />
{% endblock %}


{% block coupes %}
    {# Chemin des traits de coupe #}

    <inkscape:path-effect id="chemin_normal"
        is_visible="true"
        effect="spiro" />

    <path id="trait_coupe_vertical" class='trait_coupe'
        inkscape:path-effect="#chemin_normal"
        inkscape:connector-curvature="0"
        d="m 0,0 0,{{ (doc.marge.Y - 2)|pixels }} 0,0" />

    <path id="trait_coupe_horizontal" class='trait_coupe'
        inkscape:path-effect="#chemin_normal"
        inkscape:connector-curvature="0"
        d="m 0,0 {{ (doc.marge.X - 2)|pixels }},0 0,0" />

    <path id="trait_coupe_croix" class='trait_coupe'
        inkscape:path-effect="#chemin_normal"
        inkscape:connector-curvature="0"
        d="m {{ -1|pixels }},0 {{ 2|pixels }},0 0,0
           m {{ -1|pixels }},{{ -1|pixels }} 0,{{ 2|pixels }} 0,0" />
{% endblock %}


{% block formes %}
    {# Formes libres #}
{% endblock %}
