

{% for nom,couleur in def.couleurs %}
    <linearGradient id="degradeVertical{{ nom|title }}" class="{{ nom }}"
        x1="0" y1="100%" x2="0" y2="0">
      <stop class="debut"  offset="0"   style="stop-color:{{ couleur }};" />
      <stop class="milieu" offset="0.5" style="stop-color:#ffffff;" />
      <stop class="fin"    offset="1"   style="stop-color:#ffffff;"/>
    </linearGradient>

{% endfor %}
